@import "normalize";
@import "rouge";

@import "variables";
@import "mixins";
@import "elements";

@import "components/admonition";
@import "components/nav";
@import "components/toc";
@import "components/tables";

article {
  max-width: 95vw;
  margin: 0 auto;
  padding-bottom: 1rem;

  @media only screen and (min-width: $phoneWidth)  {
    max-width: $max-width;
  }

  h1:nth-child(1) {
    margin: auto 0px;
  }

  div.sec2, > div.sect1 {
    h1,h2,h3,h4,h5,h6 {
      margin-top: .5em;
      margin-bottom: .25em;
    }
  }

  div.sect1 > h2 > a, div.sect2 > h3 > a {
    border-bottom: none;
    color: $text;

    &:hover {
      color: $primary-hover;
    }
  }

  > div.sect1 a.link {
    &:hover {
      &:after {
        content: ' \00A7';
      }
    }
  }
}

// https://stackoverflow.com/a/31461807
div.imageblock.full-width {
  > div.content {
    display: block !important;
    text-align: center !important;

    > img {
      text-align: center;

      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;

      max-width: max(100vw);

      @media (min-width: 1200px) {
        max-width: 1200px;
      }
    }

    p {
      text-align: center;

      .image {
        display: block;
      }
    }
  }
}

div.imageblock.center-img {
  > div.content > img {
    display: block;
    margin: 0 auto;
  }
}
div.imageblock {
  > div.title {
    font-style: italic;
    text-align: center;
  }
}

// code in backticks
div.paragraph {
  p code {
    background-color: rgba(104, 182, 112, .2);
    color: #2d3436;
    border-radius: .25em;
    border: 1px solid rgba(104, 182, 112, .2);
    font-family: $monospace-stack;
    padding: .15em .25em;
  }
}

div.listing {
  h3 {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0px;

    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

div#front-meta {
  p:nth-child(1) {
    margin: 0px;
  }

  h3 {
    margin-top: 0px;
  }

  h3:nth-child(2) {
    margin: 0px;
  }

  details {
    summary {
      cursor: pointer;
      outline: none;
      margin: 0px;
    }
  }
}

div.post-tags {
  margin-top: 1em;
  margin-bottom: .5em;
}


pre#landing-pre {
  width: 95vw;
  margin: 0 auto;
}

a.heading-anchor {
  display: none;

  border-bottom: none;
  color: $text-gray;
}


div.listingblock {
  margin-top: 1em;
  background-color: rgba(104, 182, 112, .05);
  border: 1px solid rgba(104, 182, 112, .2);

  div.title {
    display: inline-block;
    padding: .1em .3em;
    background-color: rgba(104, 182, 112, .8);
    //background-color: $primary;
    color: white;

    width: auto;

    font-family: monospace;
    font-size: 16px;
    padding-left: 5px;

    border-bottom: none;

    //&:before {
    //  content: '# '
    //}
  }

  div.content > pre.rouge.highlight {
    margin: 0 auto;
    //border: 1px solid #ccc;
    line-height: 1.2;
    margin: .1em .25em;
  }
}

div.listingblock + div.colist.arabic {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #ccc;
  border-top: none;

  ol {
    margin: 0px auto;

    li p {
      padding: 0px;
      margin: 0px;
    }
  }
}

article div.content {
  div.paragraph:last-child p {
    margin-bottom: .25em;
  }
}

.exampleblock, .literalblock {
  border: 1px solid #c1c1c1;
  border-radius: .25em;
  margin: .25em auto;
  background-color: rgba(200, 200, 200, 0.1);
  border-radius: .25em;

  > div.content {
    padding-left: .25em;
    padding-right: .25em;
  }
}
.exampleblock {
  > div.title {
    padding: .25em .5em;
    background-color: rgba(80, 80, 80, 0.1);
    display: inline-block;
    border-radius: 0px 0px .25em 0px;
    font-style: italic;
  }
}
.literalblock > div.content > pre {
  margin: .25em;
}

.seriesblock {
  margin-top: .5em;
  border-radius: .25em;
  border: 1px solid rgba(104, 182, 112, .5);

  div.title {
    width: 100%;
    color: #2d3436;
    background-color: rgba(104, 182, 112, .1);
  }
  div.title, div.contents {
    padding: .25em;
  }
  div.contents > ul {
    margin: 0px;
    padding: .5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
  }
}

div.content > a.image {
  border-bottom: none;
}

div.dlist > dl {
  > dt { font-weight: bold; }
  > dd > p {
    margin: .25em;
  }
}

// sup.footnote a {
//   color: red;
// }

//.full-width {
//  width: 100vw;
//  left: 50%;
//  position: relative;
//  transform: translateX(-50%);
//  -webkit-transform: translateX(-50%);
//}

div.ulist > ul {
  margin-left: 1rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding-left: 0px;

  > li > p {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}
