@import "normalize";
@import "rouge";

@import "variables";
@import "mixins";

@import "components/admonition";
@import "components/nav";
@import "components/toc";

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

html, body {
  padding: 0px;
  margin: 0px;

  background: rgb(253,253,253);
  color: rgb(5,5,5);

  font-family: $sans-serif-stack;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: $primary;
  //font-style: italic;
  border-bottom: 2px solid $primary;

  &:hover {
    color: $primary-hover;
    border-bottom: 2px solid $primary-hover;
  }
}

img {
  max-width: 100%;
}

hr {
  color: #eee;
}

pre {
  overflow-x: scroll;
}

blockquote {
  margin-left: 0px;
  padding-left: 20px;
  border-left: 3px solid $primary;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

article {
  max-width: 95vw;
  margin: 0 auto;
  padding-bottom: 1rem;

  @media only screen and (min-width: $phoneWidth)  {
    max-width: $max-width;
  }

  h1:nth-child(1) {
    margin: auto 0px;
  }

  > div.sect1 a.link {
    &:hover {
      &:after {
        content: ' \00A7';
      }
    }
  }
}

// sup.footnote a {
//   color: red;
// }

//.full-width {
//  width: 100vw;
//  left: 50%;
//  position: relative;
//  transform: translateX(-50%);
//  -webkit-transform: translateX(-50%);
//}

// https://stackoverflow.com/a/31461807
.full-width {
  .content {
    display: block;
    text-align: center;

    img {
      text-align: center;

      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);

      max-width: max(100vw);

      @media (min-width: 1200px) {
        max-width: 1200px;
      }
    }

    p {
      text-align: center;

      .image {
        display: block;
      }
    }
  }
}

div.imageblock div.title {
  font-style: italic;
}

div.paragraph {
  p code {
    background-color: rgb(230,230,230);
    padding: 2px;
  }
}

div.listing {
  h3 {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0px;

    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

div#front-meta {
  p:nth-child(1) {
    margin: 0px;
  }

  h3 {
    margin-top: 0px;
  }

  h3:nth-child(2) {
    margin: 0px;
  }

  nav#TableOfContents ul {
    margin: auto 0px;
  }

  details {
    summary {
      cursor: pointer;
      outline: none;
      margin: 0px;
    }
  }
}

pre#landing-pre {
  width: 95vw;
  margin: 0 auto;
}

a.heading-anchor {
  display: none;

  border-bottom: none;
  color: $text-gray;
}

h1,h2,h3,h4,h5,h6 {
  &:hover {
    a.heading-anchor {
      display: inline-block;
    }
  }
}

h2 {
  border-bottom: 1px solid #ccc;
}

h2,h3,h4 {
  margin-bottom: 0px;

  &+div.paragraph p {
    margin-top: 0px;
  }
}

pre.rouge .hll {
  background-color: #ffc;

  * {
    background-color: initial;
  }
}

div.listingblock {
  margin-top: 1em;

  div.title {
    font-family: monospace;
    font-size: 16px;
    padding-left: 5px;

    border: 1px solid #ccc;
    border-bottom: none;

    //&:before {
    //  content: '# '
    //}
  }

  div.content pre.rouge.highlight {
    margin: 0 auto;
    border: 1px solid #ccc;
    line-height: 1.2;
  }

  div.content {
    pre > code:not(>table) {
      span {
        color: red;
      }
    }
  }
}

div.listingblock + div.colist.arabic {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #ccc;
  border-top: none;

  ol {
    margin: 0px auto;

    li p {
      padding: 0px;
      margin: 0px;
    }
  }
}

td.linenos {
  background-color: rgb(245,245,245);
  color: rgb(180,180,180);
  border-right: 1px solid #ccc;
}
