// "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira"
$serif-stack: (
  "Libre Baskerville",
  "New Century Schoolbook",
  "Century Schoolbook",
  "Century Schoolbook L",
  "Source Serif Pro",
  "Apple Garamond",
  "DejaVu Serif",
  "Roboto Slab",
  Georgia,
  serif
);

$sans-serif-stack: (
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
'Segoe UI Emoji',
'Apple Color Emoji',
'Noto Color Emoji',
sans-serif
);

$monospace-stack: (
  "SFMono-Regular",
  Consolas,
  "Liberation Mono",
  Menlo,
  Courier,
  monospace
);

$reference-mark: &#8251;

// general
$max-width: 800px;
$font-size: 18px;

// breakpoints
$phoneWidth: 600px;
$desktopWidth: 1024px;

$pistachio-green: #56aa69;
$diamine-green: #1b8e13;

// TODO: https://sanzo-wada.dmbk.io
// colors
//$primary: rgba(0, 89, 46, 1);
$primary: $diamine-green;
$primary-hover: #0d8c5b; //#10754e
$secondary: rgba(214, 0, 54, 1);
$tertiary: rgba(83, 34, 92, 1);

$background: rgb(250, 250, 250);
$text: rgb(30, 30, 30);
$text-gray: rgb(90, 90, 90);
$divider: #888;
