<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Andrew Zah - {{ .Site.BaseURL }}">
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

  <link rel="canonical" href="{{ .Permalink | absURL }}">

  <!-- fosstodon verification -->
  <link rel="me" href="https://fosstodon.org/@andrewzah">Mastodon</a>

  {{ block "title" . -}}
    {{- if .IsHome -}}
      <title> Hi, I'm Andrew Zah. </title>
    {{- else -}}
      <title>{{ .Title }} | {{ $.Site.Title }}</title>
    {{- end -}}
  {{- end -}}

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  {{ $styles := resources.Get "scss/main.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
  <style>{{ $styles.Content | safeCSS }}</style>
</head>
