<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Andrew Zah - {{ .Site.BaseURL }}">
    <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    {{- if .IsHome -}}
      <title>{{ .Title }}</title>
    {{- else -}}
      <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{- end -}}

    {{ $styles := resources.Get "scss/main.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
    <style>{{ $styles.Content | safeCSS }}</style>
  </head>

  <body>
    <nav>
      <ul class="left-menu">
        <li><a href="/">andrewzah.com</a></li>
      </ul>
      <ul class="right-menu">
        <li><a href="/cats">contact</a></li>
        <li><a href="/openbook">openbook</a></li>
        <li><a href="/posts">posts</a></li>
        <li><a href="/reviews">reviews</a></li>
      </ul>
      <hr>
    </nav>
