<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ block "title" . -}}
  <title>
    {{ if .IsHome }}
      Index :: {{ .Site.Title }}
    {{ else }}
      {{ .Title }} :: {{ $.Site.Title }}
    {{ end }}
  </title>
{{ end }}

<meta name="author" content="{{ .Site.Author.name }}">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Description }}{{ else }}{{ .Summary }}{{ end }}">

{{- $style := resources.Get "scss/main.scss" | toCSS | minify -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<script>
const theme = window.localStorage.getItem('theme');
if (theme && theme !== "1") {
    document.documentElement.classList.add('theme-' + theme);
}
</script>
