// note tip important warning caution

.admonitionblock {
  margin: .5rem auto;
  border-radius: .25rem;

  table { border-spacing: 0; width: 100%; }
  table > tbody > tr {
    display: block;

    td.icon {
      display: block;

      .title {
        padding: .25rem .75rem;
      }
    }

    td.content {
      padding: .50rem .75rem;
    }
  }

  table > tbody > tr > td.icon > div.title {
    display: block;
    font-weight: bold;

    &:after {
      content: ':'
    }
  }
}

.admonitionblock.note {
  border: 1px solid rgba(104, 182, 112, .5);

  table > tbody > tr > td.icon {
    color: #2d3436;
    background-color: rgba(104, 182, 112, .1);
  }
}

.admonitionblock.tip {
  border: 1px solid rgba(45, 52, 54, .5);

  table > tbody > tr > td.icon {
    color: #2d3436;
    background-color: rgba(45, 52, 54, .1);
  }
}

.admonitionblock.tip {
  border: 1px solid rgba(30, 55, 153, .5);

  table > tbody > tr > td.icon {
    color: #1e3799;
    background-color: rgba(30, 55, 153, .1);
  }
}

.admonitionblock.caution {
  // urge reader to exercise care
  border: 1px solid rgba(235, 141, 11, .5);

  table > tbody > tr > td.icon {
    color: rgba(235, 141, 11, 1.0);
    background-color: rgba(235, 141, 11, .1);
  }
}

.admonitionblock.warning {
  // inform the reader of harm, or consequences
  border: 1px solid rgba(214, 48, 49, .5);

  table > tbody > tr > td.icon {
    color: rgba(214, 48, 49,1.0);
    background-color: rgba(214, 48, 49, .1);
  }
}

.admonitionblock.important {
  border: 1px solid rgba(100, 100, 100, .5);

  table > tbody > tr > td.icon {
    background-color: rgba(100, 100, 100, .1);
  }
}
