table {
  border-spacing: 0;
}

div.listingblock div.content {
  pre > code > table {
    border-spacing: 0;
    //width: 100%;
  }
  pre > code:not(>table) {
    span {
      color: red;
    }
  }
}

table.linenotable {
  td.linenos {
    border: none;
    //background-color: rgb(245,245,245);
    color: rgb(180,180,180);
    border-right: 1px solid #ccc;
  }
}

//html body article div.sect1 div.sectionbody table.tableblock.frame-all.grid-all.stretch
article >table, div.sectionbody table.tableblock.frame-all {
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top: 5px;

  tbody tr td {
    border: 1px solid #ccc;
  }
}
