details {
  margin-top: .5rem;

  summary {
    padding: .25em .5em;
  }

  nav#TableOfContents {
    padding-bottom: .5em;
    >ul {
      margin: auto 0px;

      // h2 and h3
      >li a, >li>ul>li>a {
        border-bottom: 1px dotted #000000;
      }
    }
  }
}
