$color-vars: (
  primary: #096340,
  primary-hover: #096340,
  bg: rgb(247,247,247),
  text: rgb(40, 40, 40),
);
//$primary: #116340;
//$accent: #689d6a;

// general
$max-width: 650px !default;

// breakpoints
$phoneWidth: 600px !default;
$desktopWidth: 1024px !default;
