// variables
$serif-stack: (
  "Libre Baskerville",
  Georgia,
  serif
);

$monospace-stack: (
  "SFMono-Regular",
  Consolas,
  "Liberation Mono",
  Menlo,
  Courier,
  monospace
);


$reference-mark: &#8251;

// general
$max-width: 650px;

// breakpoints
$phoneWidth: 600px;
$desktopWidth: 1024px;
