@import "normalize";

@import "variables";
@import "mixins";

@import "components/admonition";
@import "components/nav";
@import "components/toc";

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

html, body {
  padding: 0px;
  margin: 0px;

  background: rgb(248,248,248);
  color: rgb(5,5,5);

  font-family: $serif-stack;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: $primary-hover;
  }
}


img {
  max-width: 100%;
}

hr {
  color: #eee;
}

pre {
  overflow-x: scroll;
  code {
    span {
      margin: 5px;
    }
  }
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

article {
  max-width: 95vw;
  margin: 0 auto;
  line-height: 1.6;

  @media only screen and (min-width: $phoneWidth)  {
    max-width: $max-width;
  }

  h1:nth-child(1) {
    margin: auto 0px;
  }
}

//.full-width {
//  width: 100vw;
//  left: 50%;
//  position: relative;
//  transform: translateX(-50%);
//  -webkit-transform: translateX(-50%);
//}

// https://stackoverflow.com/a/31461807
.full-width {
  .content {
    display: block;
    text-align: center;

    img {
      text-align: center;

      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);

      max-width: max(100vw);

      @media (min-width: 1200px) {
        max-width: 1200px;
      }
    }

    p {
      text-align: center;

      .image {
        display: block;
      }
    }
  }
}

div.imageblock div.title {
  font-style: italic;
}

div.listingblock {
  div.content {
    pre {
      background-color: rgb(230,230,230);
      padding: 5px;
    }
  }
}

div.paragraph {
  p code {
    background-color: rgb(230,230,230);
    padding: 2px;
  }
}

div.listing {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

div#front-meta {
  p:nth-child(1) {
    margin: 0px;
  }

  h3:nth-child(2) {
    margin: 0px;
  }

  nav#TableOfContents ul {
    margin: auto 0px;
  }
}
