html, body {
  padding: 0px;
  margin: 0px;
}

body {
  padding-top: 0px !important;

  background: $background;
  color: $text;

  @media only screen and (max-width: 801px)  {
    margin: auto 1.5rem;
  }
}

p {
  margin-top: 0px;
  margin-bottom: .75rem;
}

h3, h4, h5 {
  margin-bottom: .2rem;
}


#wrapper {
  margin-top: 1rem;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

a.link {
  color: $primary;
  text-decoration: none;
  border-bottom: 1px dotted $primary;

  &:hover {
    color: $primary-hover;
  }
}

.underline {
  text-decoration: underline;
}

.divider {
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: .5rem;

  &:before, &:after {
    background-color: $divider;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer {
  text-align: center;
  font-style: italic;
  color: #555;
}
