html, body {
  padding: 0px;
  margin: 0px;
}

body {
  padding-top: 0px !important;

  background: $background;
  color: $text;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 801px)  {
    margin: auto 1.5rem;
  }
}

p {
  margin-top: 0px;
  margin-bottom: .75rem;
}


.grow {
  flex-grow: 1;
}

.container {
  max-width: $max-width;
  margin: 0 auto;

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer {
  text-align: center;
  font-style: italic;
  color: #555;
}
