// IE doesn't support vars yet (of course)
//@mixin var($property, $varName) {
  //#{$property}: map-get($color-vars, $varName);
  //#{$property}: var(--#{$varName});
//}

@mixin horizontal-list($list-margin: 0 8px 0 0) {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    position: relative;
    margin: $list-margin;
    padding: 0;
    &:last-of-type {margin-right: 0;}
    a {
      display: inline-block;
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}

@mixin anchor-style() {
  a{
    text-decoration: none;
    border-bottom: 1px dotted;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

@mixin anchor-colors() {
  a {
    color: $primary;

    &:hover {
      color: $primary-hover;
    }
  }
}

@mixin wrap-word() {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}
