//////////////
/// mixins ///
//////////////

@mixin anchor-colors() {
  a {
    color: $primary;

    &:hover {
      color: $primary-hover;
    }
  }
}

@mixin wrap-word() {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}



body {
  padding-top: 0px !important;

  background: $background;
  color: $text;

  @media only screen and (max-width: 500px)  {
    margin: auto 0.2rem;
  }

  line-height: 1.4;
  font-family: $serif-stack;
}

p {
  margin-top: 0px;
  margin-bottom: .75rem;

  font-size: 16px;

  @media (min-width: 600px) {
    font-size: 1.2rem;
  }
}

h3 {
  margin-top: 1rem;

  font-weight: normal;
  text-decoration: underline;
}

h3, h4, h5 {
  margin-bottom: .2rem;
}

a {
  color: $primary;
  //text-decoration: none;
  //border-bottom: 1px dotted $primary;

  &:hover {
    color: $primary-hover;
    //border-bottom: 1px dotted $primary-hover;
  }
}

code {
  font-size: 16px;
}

img {
  margin: 0 auto;
  max-width: 100%;
  border-radius: 3px;
}

.imageblock {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .title {
    font-style: italic;
    font-size: 15px;
    text-align: center;
  }
}

a.image {
  border-bottom: none;
}

.horizontal-list {
  @include horizontal-list;
}

.olist, .ulist {
  li > p {
    margin-bottom: .25rem;
  }
}

.smol {
  margin: 0 auto;
  max-width: 300px;
}

.full-width {
  .content {
    display: block;
    text-align: center;

    img {
      text-align: center;

      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;

      max-width: max(95vw) !important;

      @media (min-width: 1200px) {
        max-width: 1200px !important;
      }
    }
  }

  p {
    text-align: center;

    .image {
      display: block;

      img {
      }
    }
  }
}

pre {
  overflow: auto;
  max-height: 550px;
  padding: .5em 1em;
  border-radius: 1px;
  border: 2px solid #d5d5d5;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .2);
}

#wrapper {
  margin-top: 1rem;
}

.container {
  max-width: 95%;

  @media only screen and (min-width: 500px) and (max-width: 1199px) {
    max-width: $max-width;
  }

  @media only screen and (min-width: 1200px) {
    max-width: $max-width;
  }

  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

.divider {
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: .5rem;

  &:before, &:after {
    background-color: $divider;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

#toc {
  //border-bottom: 1px dotted #ccc;

  #toctitle {
    font-weight: bold;
  }

  ul {
    margin-top: 0px;
  }
}

#post-meta {
  font-style: italic;
  color: $text;
  font-weight: 100;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer {
  text-align: center;
  font-style: italic;
  color: #555;
}

.button {
  display: inline-block;
  border-radius: 3px;

  padding: 10px 15px;
  text-align: center;
  color: rgb(253, 253, 253);
  background-color: $primary;

  &:hover {
    color: rgb(253, 253, 253);
    background-color: $primary-hover;
  }
}

.rem-spacer {
  padding-bottom: 1rem;
}

#index-pre {
  border: none;
  box-shadow: none;
}

.list-no-padding {
  padding-left: 0 !important;
}
article#post {
  margin-bottom: 3rem;
}

section#post-body {
  text: $serif-stack;

  div.sect1 {
    h2, h3 {
      margin-bottom: 5px;
    }
  }

  div.paragraph > p {
    @include anchor-colors()
    //@include anchor-style()

    code {
      color: $primary;
      background-color: rgb(230, 230, 230);
      border-radius: 2px;
      font-size: 14px;
      padding: 2px 5px;
    }
  }

  hr {
    width: 80%;
    color: #eee;
    margin: 2rem auto;
  }
}

.post-tags {
  @include horizontal-list();
}

//div.sectionbody:nth-child(1) > div:nth-child(2) > p:nth-child(1) > a:nth-child(2)
div.sectionbody > div.paragraph > p {
  a {
    color: green;
  }
}
.posts-year {
  font-family: $serif-stack;

  h2 {
    font-weight: bold;

    margin: 0px;
    margin-bottom: .25rem;
  }
}

.post-link {
  margin-left: 1rem;
  margin-bottom: 10px;

  .post-date {
    font-family: $monospace-stack;

    a {
      text-decoration: none;
      border: none;
      color: $text;
    }
  }

  .post-title {
    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.page {
  .section-title {
    sup {
      margin-left: .25rem;
      font-size: 14px;
    }
    margin-bottom: .25rem;
  }

  h4 {
    font-family: $monospace-stack;
  }

  h2, h4 {
    padding: 0px 0px;
    margin: 0px 0px;
  }

  hr {
    color: #eee;
    width: 80%;
  }
}


// https://stackoverflow.com/questions/4013701/select-all-tr-except-the-first-one
.container.page {
  .nav-link ~ .nav-link {
    margin-left: 1rem;
  }
}
// variables
$serif-stack: (
  "Libre Baskerville",
  Georgia,
  serif
);
// "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira"

$monospace-stack: (
  "SFMono-Regular",
  Consolas,
  "Liberation Mono",
  Menlo,
  Courier,
  monospace
);


$reference-mark: &#8251;

// general
$max-width: 650px;
$font-size: 16px;

// breakpoints
$phoneWidth: 600px;
$desktopWidth: 1024px;

// colors
$primary: #096340;
$primary-hover: #0d8c5b; //#10754e
$background: rgb(250, 250, 250);
$text: rgb(30, 30, 30);
$divider: #888;
// IE doesn't support vars yet (of course)
//@mixin var($property, $varName) {
  //#{$property}: map-get($color-vars, $varName);
  //#{$property}: var(--#{$varName});
//}

@mixin horizontal-list($list-margin: 0 8px 0 0) {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    position: relative;
    margin: $list-margin;
    padding: 0;
    &:last-of-type {margin-right: 0;}
    a {
      display: inline-block;
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}

@mixin anchor-style() {
  a{
    text-decoration: none;
    border-bottom: 1px dotted;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

@mixin anchor-colors() {
  a {
    color: $primary;

    &:hover {
      color: $primary-hover;
    }
  }
}

@mixin wrap-word() {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}
* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  padding-top: 0px !important;

  background: $background;
  color: $text;

  @media only screen and (max-width: 500px)  {
    margin: auto 0.2rem;
  }

  line-height: 1.4;
  font-family: $serif-stack;
}

p {
  margin-top: 0px;
  margin-bottom: .75rem;

  font-size: 16px;

  @media (min-width: 600px) {
    font-size: 1.2rem;
  }
}

h3 {
  margin-top: 1rem;

  font-weight: normal;
  text-decoration: underline;
}

h3, h4, h5 {
  margin-bottom: .2rem;
}

a {
  color: $primary;
  //text-decoration: none;
  //border-bottom: 1px dotted $primary;

  &:hover {
    color: $primary-hover;
    //border-bottom: 1px dotted $primary-hover;
  }
}

code {
  font-size: 16px;
}

img {
  margin: 0 auto;
  max-width: 100%;
  border-radius: 3px;
}

.imageblock {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .title {
    font-style: italic;
    font-size: 15px;
    text-align: center;
  }
}

a.image {
  border-bottom: none;
}

.horizontal-list {
  @include horizontal-list;
}

.olist, .ulist {
  li > p {
    margin-bottom: .25rem;
  }
}

.smol {
  margin: 0 auto;
  max-width: 300px;
}

.full-width {
  .content {
    display: block;
    text-align: center;

    img {
      text-align: center;

      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;

      max-width: max(95vw) !important;

      @media (min-width: 1200px) {
        max-width: 1200px !important;
      }
    }
  }

  p {
    text-align: center;

    .image {
      display: block;

      img {
      }
    }
  }
}

pre {
  overflow: auto;
  max-height: 550px;
  padding: .5em 1em;
  border-radius: 1px;
  border: 2px solid #d5d5d5;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .2);
}


#wrapper {
  margin-top: 1rem;
}

.container {
  max-width: 95%;

  @media only screen and (min-width: 500px) and (max-width: 1199px) {
    max-width: $max-width;
  }

  @media only screen and (min-width: 1200px) {
    max-width: $max-width;
  }

  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

.divider {
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: .5rem;

  &:before, &:after {
    background-color: $divider;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

#toc {
  //border-bottom: 1px dotted #ccc;

  #toctitle {
    font-weight: bold;
  }

  ul {
    margin-top: 0px;
  }
}

#post-meta {
  font-style: italic;
  color: $text;
  font-weight: 100;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer {
  text-align: center;
  font-style: italic;
  color: #555;
}

.button {
  display: inline-block;
  border-radius: 3px;

  padding: 10px 15px;
  text-align: center;
  color: rgb(253, 253, 253);
  background-color: $primary;

  &:hover {
    color: rgb(253, 253, 253);
    background-color: $primary-hover;
  }
}

.rem-spacer {
  padding-bottom: 1rem;
}

#index-pre {
  border: none;
  box-shadow: none;
}

.list-no-padding {
  padding-left: 0 !important;
}
article#post {
  margin-bottom: 3rem;
}

section#post-body {
  text: $serif-stack;

  div.sect1 {
    h2, h3 {
      margin-bottom: 5px;
    }
  }

  div.paragraph > p {
    @include anchor-colors()
    //@include anchor-style()

    code {
      color: $primary;
      background-color: rgb(230, 230, 230);
      border-radius: 2px;
      font-size: 14px;
      padding: 2px 5px;
    }
  }

  hr {
    width: 80%;
    color: #eee;
    margin: 2rem auto;
  }
}

.post-tags {
  @include horizontal-list();
}

//div.sectionbody:nth-child(1) > div:nth-child(2) > p:nth-child(1) > a:nth-child(2)
div.sectionbody > div.paragraph > p {
  a {
    color: green;
  }
}
.posts-year {
  font-family: $serif-stack;

  h2 {
    font-weight: bold;

    margin: 0px;
    margin-bottom: .25rem;
  }
}

.post-link {
  margin-left: 1rem;
  margin-bottom: 10px;

  .post-date {
    font-family: $monospace-stack;

    a {
      text-decoration: none;
      border: none;
      color: $text;
    }
  }

  .post-title {
    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.page {
  .section-title {
    sup {
      margin-left: .25rem;
      font-size: 14px;
    }
    margin-bottom: .25rem;
  }

  h4 {
    font-family: $monospace-stack;
  }

  h2, h4 {
    padding: 0px 0px;
    margin: 0px 0px;
  }

  hr {
    color: #eee;
    width: 80%;
  }
}


// https://stackoverflow.com/questions/4013701/select-all-tr-except-the-first-one
.container.page {
  .nav-link ~ .nav-link {
    margin-left: 1rem;
  }
}

//////////////////
/// components ///
//////////////////

@import 'components/admonition';
@import 'components/nav';
@import 'components/highlight';
