.page {
  margin-bottom: 2rem;

  .posts-year {
    margin-top: 1rem;
    font-family: $serif-stack;

    h2 {
      font-weight: bold;

      margin: 0px;
      margin-bottom: .25rem;
    }
  }

  hr {
    color: #eee;
    width: 80%;
  }
}

.post-link {
  margin-bottom: 10px;

  .post-date {
    font-family: $monospace-stack;

    a {
      text-decoration: none;
      color: $text;
    }
  }

  .post-title {
    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
