.posts {
  section:not(:last-child) {
    &:after {
      text-align: center;
      content: "\203B";
      color: var(--c-text);
      font-size: 2rem;
    }
  }

  .posts-year {
    margin-top: 1rem;
    font-family: $serif-stack;

    h2 {
      font-weight: bold;

      margin: 0px;
      margin-bottom: .25rem;
    }
  }
}

.post-link {
  margin-bottom: 10px;

  .post-date {
    font-family: $monospace-stack;

    a {
      text-decoration: none;
      color: $primary;
    }
  }

  .post-title {
    a {
      color: $text;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
