.posts-year {
  font-family: $serif-stack;

  h2 {
    font-weight: bold;

    margin: 0px;
    margin-bottom: .25rem;
  }
}

.post-link {
  margin-left: 1rem;
  margin-bottom: 10px;

  .post-date {
    font-family: $monospace-stack;

    a {
      text-decoration: none;
      color: $text;
    }
  }

  .post-title {
    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
