article#post {
  margin-bottom: 3rem;
}

section#post-body {
  text: $serif-stack;

  div.sect1 {
    h2, h3 {
      margin-bottom: 5px;
    }
  }

  div.paragraph > p {
    @include anchor-colors()
    //@include anchor-style()

    code {
      color: $primary;
      background-color: rgb(230, 230, 230);
      border-radius: 2px;
      font-size: 14px;
      padding: 2px 5px;
    }
  }

  hr {
    width: 80%;
    color: #eee;
    margin: 2rem auto;
  }
}

.post-tags {
  @include horizontal-list();
}
