$serif-stack: (
  "Libre Baskerville",
  Georgia,
  serif
);
// "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira"

$monospace-stack: (
  "SFMono-Regular",
  Consolas,
  "Liberation Mono",
  Menlo,
  Courier,
  monospace
);

$reference-mark: &#8251;

// general
$max-width: 650px;
$font-size: 16px;

// breakpoints
$phoneWidth: 600px;
$desktopWidth: 1024px;

// colors
$primary: #096340;
$primary-hover: #0d8c5b; //#10754e
$background: rgb(250, 250, 250);
$text: rgb(30, 30, 30);
$divider: #888;
