{{ define "main" }}
  {{- .Content -}}

  <section class="page">
    <p> Hi, I'm Andrew! I work as a software engineer for Open Source Systems.
    I typically write about Korean, language learning, or programming. </p>

    <p>
    You can contact me at zah@andrewzah.com or via <a class="link" href="https://t.me/andrewzah">Telegram</a>.
    </p>

    <ul class="horizontal-list ">
      <li> <a href="/about"> About </a> </li>
      <li> <a href="/index.xml"> RSS </a> </li>
      <li> <a href="/friends"> Friends </a> </li>
    </ul>
  </section>

  {{ partial "divider.html" }}

  {{- range .Site.Sections -}}
    <section class="page">
      <h2 class="section-title">
        {{ title .Type }}
        {{- if eq .Type "posts" -}}
          <sup><a class="link" href="/tags">(view by tag)</a></sup>
        {{- end -}}
      </h2>

      {{- range (where .Site.RegularPages "Type" .Type ).GroupByDate "2006" -}}
        {{- partial "posts/links.html" . -}}
      {{- end -}}
    </section>

    {{ partial "divider.html" }}
  {{- end -}}
{{- end -}}
