.dark-mode-label {
  position: fixed;
  font-size: 26px;
  right: .5rem;
  bottom: .5rem;

  @media (min-width: 450px) {
    right: 1rem;
    top: .15rem;
  }
}

.dark-mode-checkbox:checked ~ .theme-container {
  --c-bg: var(--c-dark-bg);
  --c-text: var(--c-dark-text);
}

.dark-mode-checkbox:checked ~ .theme-container .dark-mode-label::before {
  content: "\263C";
}

.dark-mode-label::before {
  content: "\263D";
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 0px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}
