nav {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 2px;

  .nav-brand {
    @include var(color, text);
    border-bottom: none;
  }

  .nav-links {
    @include horizontal-list;
    @include anchor-style;
    @include anchor-colors(map-get($color-vars, text), map-get($color-vars, text));
  }
}
