nav {
  padding-top: .1rem;
  padding-bottom: .2rem;

  border-bottom: 1px dotted #ccc;

  a {
    text-decoration: none;
    color: $text;

    &:hover {
      color: $primary-hover;
    }
  }

  .nav-brand {
    border-bottom: none;
  }

  .nav-links {
    @include horizontal-list;
  }
}
