<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  {{- partial "head.html" . -}}

  <body>
    <div id="wrapper">
      <div id="content" class="container page">
        {{- block "main" . }}{{- end }}
      </div>

      {{ if or (not (eq .Page.Type "page")) (eq .Page.RelPermalink "/") }}
        {{- partialCached "footer.html" . -}}
      {{ end }}
    </div>

    <script data-goatcounter="https://stats.andrewzah.com/count"
        async src="//stats.andrewzah.com/count.js"></script>
  </body>
</html>
