{{ partial "header.html" }}

<article>
  {{- if or (eq .Type "posts") (eq .Type "reviews") -}}
    <h1> {{ .Title }} </h1>
    <div id="meta">
      <time itemprop="datePublished" datetime="{{ .Date.Format "Jan 02, 2006" }}">
        {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFmt) }}
      </time>
      {{- if .Lastmod -}}
      TODOFIX
      TODOFIX
      TODOFIX
      TODOFIX
      TODOFIX
      TODOFIX
      TODOFIX
      TODOFIX
      TODOFIX
      TODOFIX
        <time itemprop="dateModified" datetime="{{ .Date.Format "Jan 02, 2006" }}">
          {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFmt) }}
        </time>
      {{- end -}}
      &mdash;
      {{ .Page.WordCount }} words

      <div class="post-tags">
        {{ $list := (.GetTerms "tags") }}
        {{ $len := (len $list) }}

        about
        {{ range $i, $e := $list }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{- if not (eq (add $i 1) $len) -}},{{- end -}}
        {{ end }}
      </div>

      <!--href="{{ .Permalink }}"-->

      {{- if not (eq .Params.Toc false) -}}
        <h3> Table of Contents </h3>
        {{ .TableOfContents }}
        <hr>
      {{- end -}}
    </div>
  {{- end -}}

  {{ .Content }}
</article>

{{ partial "footer.html" }}
