{{ partial "header.html" }}

<article>
  {{- if eq .Title "Tags" -}}
    <h1> All Tags </h1>
      {{- range .Data.Terms.Alphabetical -}}
        <h4> {{ .Page.Title }} ({{ .Count }}) </h4>
        <ul>
          {{- range .Pages -}}
            {{ partial "post-link.html" . }}
          {{- end -}}
        </ul>
      {{- end -}}
  {{- else -}}
    <h1> Posts tagged '{{ .Title }}' </h1>

    <div class="listing">
          {{- range .Page.Pages.GroupByDate "2006" }}
            <h3 style="font-weight: bold; text-decoration: none;"> {{ .Key }} </h3>

            <ul>
              {{- range .Pages -}}
                {{ partial "post-link.html" . }}
              {{- end -}}
            </ul>
          {{- end -}}
    </div>
  {{- end -}}
</article>

{{ partial "footer.html" }}
