{{ define "main" }}
  {{- if or (eq .Type "posts") (eq .Type "reviews") -}}
    <h1> {{ .Title }} </h1>
    <div id="front-meta">
      <p>
        Published: <time itemprop="datePublished" datetime="{{ .Date.Format "Jan 02, 2006" }}">
        {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFmt) }}
        {{- if ne .Date .Lastmod -}}
        </time>,
        Updated: <time itemprop="dateModified" datetime="{{ .Lastmod.Format "Jan 02, 2006" }}">
            {{ .Lastmod.Format (default "January 2, 2006" .Site.Params.dateFmt) }} </time>
        {{- else -}}
        </time>
        {{- end -}}
      </p>

      {{- if (eq .Params.Toc true) -}}
        <h3> Table of Contents </h3>
        {{ .TableOfContents }}
      {{- end -}}
      <hr>
    </div>
  {{- end -}}

  {{ .Content }}


  {{- if or (eq .Type "posts") (eq .Type "pages") -}}
    <hr>

    <div id="back-meta">
      <div class="post-tags">
        {{ .Page.WordCount }} words
        &mdash;

        {{ $list := (.GetTerms "tags") }}
        {{ $len := (len $list) }}

        under
        {{ range $i, $e := $list }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{- if not (eq (add $i 1) $len) -}},{{- end -}}
        {{ end }}
      </div>
    </div>
  {{- end -}}
{{ end }}
