{{- define "main" }}

<article id="post" class="page">
  <section id="post-header">
    <h2 class="post-title">
      {{ if .Draft }} [Draft] {{ end }}
      {{ .Title }}
    </h2>
    {{ partial "posts/meta.html" . }}
  </section>

  <section id="post-body">
    {{ .Content }}
  </section>
</article>

<section id="after-post" class="page">
  <h2> Related Posts </h2>
  {{ $parentTitle := .Title }}

  {{ range (.GetTerms "tags") }}
    {{ if gt (len .Pages) 1 }}
      <h4>{{ .Title }}</h4>
      {{ range .Pages }}
        {{ if not (eq .Title $parentTitle) }}
          <p> {{ .Title }} </p>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</section>

{{- end }}
