{{- define "main" }}

<a href="/">Home</a>

<article id="post" class="page">
  <section id="post-header">
    <h2 class="post-title">
      {{ if .Draft }} [Draft] {{ end }}
      {{ .Title }}
    </h2>
    {{ partial "posts/meta.html" . }}
  </section>

  {{- if not (eq .TableOfContents "<nav id=\"TableOfContents\"></nav>") -}}
    <div id="toc">
      {{ .TableOfContents }}
    </div>
    <div class="rem-spacer"></div>
  {{- end -}}

  <section id="post-body">
    {{ .Content }}
  </section>
</article>

{{ partial "divider.html" }}

<section id="after-post" class="page">
  {{ $parentTitle := .Title }}

  {{ range (.GetTerms "tags") }}
    {{ if gt (len .Pages) 1 }}
      <strong>other <span class="underline">{{ .Title }}</span> posts</strong>
      {{ range .Pages }}
        {{ if not (eq .Title $parentTitle) }}
          {{ partial "posts/link.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</section>

{{- end }}
