{{ define "main" }}
  <span class="nav-link"><a href="/">Home</a></span>

  {{- if .Page.Params.Title -}}
    <span class="nav-link"><a href="/tags">All Tags</a></span>
  {{- end -}}

  <section class="page">
    <!-- /tags/linux -->
    {{- if .Page.Params.Title -}}
      <h1> Posts tagged with '{{ .Title }}'</h1>

      {{- range .Page.Pages -}}
        {{ partial "posts/link.html" . }}
      {{- end -}}
    {{- else -}}
      <!-- /tags -->
      <h1> Tags (Alphabetical) </h1>
      {{- range .Data.Terms.Alphabetical -}}
        <h4> {{ .Page.Title }} ({{ .Count }}) </h4>

        {{- range .Page.Pages -}}
          {{ partial "posts/link.html" . }}
        {{- end -}}
        <hr/>
      {{- end -}}
    {{- end -}}

{{- end -}}
