{{- $showdate := default true $.Site.Params.showMetaDates }}
{{- $showlink := default true $.Site.Params.showMetaLinks }}
{{- if or $showdate $showlink }}
<div id="post-meta">
  {{- if $showdate }}
  <time itemprop="datePublished" datetime="{{ .Date.Format "Jan 01, 2006" }}">
    {{ .Date.Format (default "January 1, 2006" .Site.Params.dateFmt) }}
  </time> &mdash;
  {{- end }}
  {{ .Page.WordCount }} words
  &mdash;
  <ul class="post-tags">
    under
    {{ $list := (.GetTerms "tags") }}
    {{ $len := (len $list) }}

    {{ range $i, $e := $list }}
      <li>
        <a class="link" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{- if not (eq (add $i 1) $len) -}}, {{- end -}}
      </li>
    {{ end }}
  </ul>

  <br>

  {{- if $showdate -}}
    {{- if .Page.Lastmod -}}
      <time itemprop="dateModified" datetime="{{ .Date.Format "Jan 01, 2006" }}">
        Updated on {{ .Page.Lastmod.Format (default "January 1, 2006" .Site.Params.dateFmt) }}
      </time>
    {{- end -}}
  {{- end -}}


</div>
{{- end }}

{{ partial "divider.html" }}
